<app-header />
<main>
  <ul id="users">
    @for (user of users; track user.id) {
      <li>
      <!-- <li *ngFor="let user of users"> -->
        <!-- <app-user [id]="users[0].id" [avatar]="users[0].avatar" [name]="users[0].name" (select)="onSelectUser($event)"/> -->
        <app-user [user]="user" (select)="onSelectUser($event)"/>
      </li>
    }
  </ul>

  <!-- <app-tasks [name]="selectedUser ? selectedUser.name : ''"/>  -->
  @if (selectedUser) {
    <app-tasks [name]="selectedUser.name"/> 
    <!-- <app-tasks *ngIf="selectedUser; else fallback" [name]="selectedUser!.name"/>  -->
  } @else {
    <!-- <ng-template #fallback> -->
      <p id="fallback">Select a user to see their tasks!!!</p>
    <!-- </ng-template> -->
  }
  
</main>